.movie {
  position: absolute;
  top: 45%;
  left: 13%;
  padding: 2%;
  width: 88%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.movie__header__icon {
  font-size: var(--movie-header-icon);
  padding: 0.3em;
  border-radius: 50%;
  color: var(--black-color);
}

.movie__header__text {
  font-size: var(--movie-header-icon);
  color: var(--black-color);
}

.movie__January,
.movie__February,
.movie__March,
.movie__April,
.movie__May,
.movie__June,
.movie__July,
.movie__August,
.movie__September,
.movie__October,
.movie__November,
.movie__December {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 1.5%;
  height: 20%;
  width: 100%;
  margin-bottom: 50vh;
}

.scene__header {
  font-size: var(--movie-content-header);
  color: var(--black-color);
  margin: 0.5em;
  font-weight: bold;
}

.January__content,
.February__content,
.March__content,
.April__content,
.May__content,
.June__content,
.July__content,
.August__content,
.September__content,
.October__content,
.November__content,
.December__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 0.75em;
}

.January__slider-btn,
.February__slider-btn,
.March__slider-btn,
.April__slider-btn,
.May__slider-btn,
.June__slider-btn,
.July__slider-btn,
.August__slider-btn,
.September__slider-btn,
.October__slider-btn,
.November__slider-btn,
.December__slider-btn {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
}

.scene__wrapper {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(var(--photo-width)*3);
  height: var(--photo-height);
  overflow-x: hidden;
}

.January__slider,
.February__slider,
.March__slider,
.April__slider,
.May__slider,
.June__slider,
.July__slider,
.August__slider,
.September__slider,
.October__slider,
.November__slider,
.December__slider {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.scene__slider__item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.scene__photo {
  display: inline-block;
  width: var(--photo-width);
  height: var(--photo-height);
  border: var(--photo-border) transparent;
  border-radius: 1.7em;
  transition: all 0.3s ease;
}


.scene__photo:hover {
  border: var(--photo-border) var(--white-color);
}

.photo {
  width: 100%;
  height: 100%;
  border-radius: 1.5em;
}

.January__btns,
.February__btns,
.March__btns,
.April__btns,
.May__btns,
.June__btns,
.July__btns,
.August__btns,
.September__btns,
.October__btns,
.November__btns,
.December__btns {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

input[type="radio"],
input[type="radio"]:checked {
  appearance: none;
  width: var(--radio-size);
  height: var(--radio-size);
  border-radius: 50%;
  margin-right: 2px;
  cursor: pointer;
}

input[type="radio"] {
  background-color: var(--white-color);
  border: var(--border);
}

input[type="radio"]:checked {
  background-color: var(--player-color);
}